.header {
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 9px 0;
}

.header_first {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_first > img {
    width: 75px;
    object-fit: contain;
}

.header_first .header_first1 {
    margin-top: -7px;
}

.header_second {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
}

.header_second > input {
    border: none;
    outline: none;
    width: 35vw;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 14px;
}

.header_second > i {
    color: #2874f0;
    padding: 3px 10px;
    font-size: 20px;
    cursor: pointer;
}


.header_third > button {
    border: none;
    outline: none;
    width: 9vw;
    color: #2874f0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
}

.header_fourth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_fourth > p {
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
}

.header_fifth {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_fifth > span {
    color: white;
    font-weight: 600;
}

.header_fifth > i {
    color: white;
    padding-left: 5px;
}

.header_sixth {
    display: flex;
    align-items: center;
}

.header_sixth > i {
    color: white;
}

.header_sixth > p {
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 5px;
}